---
import Layout from '../layouts/Layout.astro'
import AboutMe from '../sections/AboutMe.astro'
import '../styles/global.css'
import Experiences from '../sections/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Projects from '../sections/Projects.astro'
import Header from '../components/Header.astro'
import Skills from '../sections/Skills.astro'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Header />
  <main
    class="mx-auto flex max-w-[1268px] flex-col items-center justify-center space-y-8 pt-24 lg:pt-0"
  >
    <SectionContainer idSection="about" className="space-y-8 py-10 lg:h-screen lg:py-0">
      <AboutMe />
    </SectionContainer>

    <SectionContainer idSection="experience" className="space-y-8 py-10 pl-2">
      <Experiences />
    </SectionContainer>
    <SectionContainer idSection="projects" className="space-y-8 py-10">
      <Projects />
    </SectionContainer>
    <SectionContainer idSection="skills" className="space-y-8 py-10">
      <Skills />
    </SectionContainer>
  </main>
</Layout>
