---
import Layout from "../layouts/Layout.astro";
import AboutMe from "../sections/AboutMe.astro";
import "../styles/global.css";
import Skills from "../sections/Skills.astro";
import Header from "../components/Header.astro";
import Experiences from "../sections/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main class="flex items-center justify-center">
		<SectionContainer id="aboutMe">
			<AboutMe/>
		</SectionContainer>	
	</main>
</Layout>
