<span class=`text-sm bg-teal-200 p-2 rounded-3xl font-medium border-1 border-gray-200 dark:text-black dark:bg-blue-300 dark:border-blue-300 animate-pulse ${Astro.props.class}`>
    <slot></slot>
</span>