---
const { title, company, period, description } = Astro.props
---

<section class="mb-6 ml-4 space-y-4 md:space-y-6">
  <div
    class="absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-white bg-gray-300 dark:border-gray-900 dark:bg-gray-700"
  >
  </div>
  <time class="mb-1 text-sm leading-none font-normal text-gray-400 dark:text-gray-500"
    >{period}</time
  >
  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
    <span class="text-teal-500 dark:text-blue-400">{title} </span><span
      class="font-normal text-gray-400 dark:text-gray-500">@ {company}</span
    >
  </h3>
  <p class="mb-4 text-base font-normal text-pretty text-gray-700 dark:text-gray-400">
    {description}
  </p>
</section>
