---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIES = [
	{
		title: "Dessarrollador fullStack",
		company: "freelance",
		period: "2021-Actualidad",
		description:
			"Desarrollo de aplicaciones web y móviles personalizadas para clientes de diversos sectores. Implementación de soluciones escalables y centradas en el usuario, utilizando tecnologías modernas como React, Node.js y bases de datos NoSQL. Gestión completa del ciclo de desarrollo, desde la recopilación de requisitos hasta la entrega final y el mantenimiento.",
	},
	{
		title: "Dessarrollador fullStack",
		company: "freelance",
		period: "2021-Actualidad",
		description:
			"Desarrollo de aplicaciones web y móviles personalizadas para clientes de diversos sectores. Implementación de soluciones escalables y centradas en el usuario, utilizando tecnologías modernas como React, Node.js y bases de datos NoSQL. Gestión completa del ciclo de desarrollo, desde la recopilación de requisitos hasta la entrega final y el mantenimiento.",
	},
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
	{
		EXPERIENCIES.map((experiencie) => (
			<li class="mb-10 ms-4">
				<ExperienceItem
					title={experiencie.title}
					company={experiencie.company}
					period={experiencie.period}
					description={experiencie.description}
				/>
			</li>
		))
	}
</ol>
