---
import ThemeButton from './ThemeButton.astro'
---

<header
  class="fixed z-50 mx-auto mt-4 flex w-86 items-center justify-between self-center rounded-3xl bg-teal-100/60 p-3 backdrop-blur-sm md:mt-8 md:w-2/3 dark:bg-black/10"
>
  <!-- Nombre -->
  <div class="text-lg font-semibold">Facundo Petitfour</div>
  <!-- ThemeButton solo visible en mobile -->

  <!-- Navegación desktop -->
  <div class="items-center gap-10 md:flex">
    <a href="#about" class="hidden transition hover:text-teal-500 md:flex dark:hover:text-blue-500"
      >Sobre mí</a
    >
    <a
      href="#projects"
      class="hidden transition hover:text-teal-500 md:flex dark:hover:text-blue-500">Proyectos</a
    >
    <a
      href="#experience"
      class="hidden transition hover:text-teal-500 md:flex dark:hover:text-blue-500">Experiencia</a
    >
    <a
      href="#contact"
      class="hidden transition hover:text-teal-500 md:flex dark:hover:text-blue-500">Contacto</a
    >
    <ThemeButton />
  </div>
</header>

<!-- Menú móvil (si querés usarlo después) -->
<nav
  id="mobile-menu"
  class="mx-auto mt-3 hidden w-80 flex-col items-center gap-4 rounded-2xl bg-white/20 p-5 shadow-lg backdrop-blur-md transition-all duration-300 md:hidden dark:bg-black/80"
>
  <a href="/about" class="block rounded-md px-3 py-2 text-base">Sobre mí</a>
  <a href="/projects" class="block rounded-md px-3 py-2 text-base">Proyectos</a>
  <a href="/contact" class="block rounded-md px-3 py-2 text-base">Contacto</a>
</nav>
