<section
    id="Skills"
    class="text-gray-700 dark:text-gray-50 flex items-center justify-left lg:px-42 md:px-30 px-8 w-full h-screen transition-colors duration-300"
>
    <div
        class="flex flex-col lg:gap-10 md:gap-8 gap-6 lg:basis-2/3 md:basis-2/3 z-10"
    >
        <h1 class="lg:text-9xl md:text-7xl text-6xl">Facundo Petitfour</h1>
        <h2 class="lg:text-8xl md:text-6xl text-5xl">
            Desarrollador <span class="text-emerald-400 dark:text-blue-400"
                >FullStack</span
            >
        </h2>
        <p class="lg:text-3xl md:text-2xl sm: text-xl">
            Transformo ideas en proyectos reales con React, Node.js, MongoDB y
            metodologías ágiles, siempre con foco en la calidad y la experiencia
            del usuario
        </p>
    </div>
</section>
