<a
  class="flex items-center justify-center gap-x-2 rounded-full border-1 border-teal-200 bg-teal-100/25 px-4 py-2 font-medium text-black transition hover:scale-110 dark:border-blue-400 dark:bg-blue-300 dark:text-black"
  {...Astro.props}
>
  <slot />
</a>
