<a class="bg-teal-100/25 border-1 text-black dark:text-black border-teal-200 font-medium  dark:bg-blue-300 dark:border-blue-400 rounded-full flex justify-center items-center gap-x-2 py-2 px-4 hover:scale-110 transition" {...Astro.props}>
    <slot/>
</a>