---
import SpanSkill from './SpanSkill.astro'

const { arraySkils, nameTarjet } = Astro.props
---

<div
  class="rounded-2xl border border-gray-200 bg-gray-200/20 p-8 transition-all duration-300 dark:border-gray-700/30 dark:bg-gray-800/30"
>
  <div class="mb-6 flex items-center gap-4">
    <h3 class="text-xl font-semibold">{nameTarjet}</h3>
  </div>
  <div class="space-y-4">
    <div class="flex flex-wrap gap-2">
      {arraySkils.map((skill: string) => <SpanSkill>{skill}</SpanSkill>)}
    </div>
  </div>
</div>
