---
// Componente Astro: ThemeToggle.astro
---

<div
  class="flex fixed top-8 right-8 z-50 items-center justify-center transition-colors"
>
  <button
    id="buttonDark"
    class="dark:hidden p-3 rounded-full bg-gray-200 dark:bg-gray-800 text-gray-900 dark:text-gray-100"
    aria-label="Cambiar tema a oscuro"
  >
    <!-- Luna -->
    <svg
      id="icon-moon"
      class="w-6 h-6 text-gray-400"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
      ></path>
    </svg>
  </button>
  <button
    id="buttonLigth"
    class="hidden dark:inline-block p-3 rounded-full bg-gray-200 dark:bg-gray-800 text-gray-900 dark:text-gray-100"
    aria-label="Cambiar tema a claro"
  >
    <!-- Sol -->
    <svg
      id="icon-sun"
      class="w-6 h-6 text-yellow-400"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
      ></path>
    </svg>
  </button>
</div>

<script type="text/javascript">
  const colorSistem = window.matchMedia("(prefers-color-scheme: dark)").matches
    ? "dark"
    : "light";

  document.addEventListener("DOMContentLoaded", function () {
    const buttonDark = document.getElementById("buttonDark");
    const buttonLigth = document.getElementById("buttonLigth");

    buttonDark.addEventListener("click", (e) => {
      e.preventDefault();
      document.body.classList.add("dark");
      localStorage.setItem("theme", "dark");
    });

    buttonLigth.addEventListener("click", (e) => {
      e.preventDefault();
      document.body.classList.remove("dark");
      localStorage.setItem("theme", "light");
    });
  });

  const savedTheme = localStorage.getItem("theme");
  if(savedTheme){
  if (savedTheme === "dark") {
      document.body.classList.add("dark");
    } else if (savedTheme === "light") {
      document.body.classList.remove("dark");
    }
  }else {
    if (colorSistem === "dark") {
      document.body.classList.add("dark");
    } else if (colorSistem === "light") {
      document.body.classList.remove("dark");
    }
  }
</script>
