---
import CvModal from '../components/cvModal.astro'
import Badge from '../components/Badge.astro'
import IconGithub from '../icons/IconGithub.astro'
import SocialPill from '../components/SocialPill.astro'
import IconLinkedIn from '../icons/IconLinkedIn.astro'
import IconGmail from '../icons/IconGmail.astro'
import Pcbackground from '../icons/Pcbackground.astro'
---

<h1 class="flex gap-4 text-5xl leading-none font-bold">
  Hola, soy Facundo <Badge class="mt-2 hidden w-fit md:block md:self-center"
    >Disponible para trabajar</Badge
  >
</h1>

<Badge class="flex w-fit md:hidden">Disponible para trabajar</Badge>

<h2 class="text-3xl font-semibold">
  Desarrollador <span class="text-teal-500 dark:text-blue-400">FullStack</span>
</h2>
<p class="text-lg text-pretty">
  Más de 3 años de experiencia creando soluciones escalables y centradas en el usuario. Capacidad
  para diseñar APIs RESTful seguras, implementar interfaces modernas y gestionar ciclos de
  desarrollo end-to-end. Fuerte enfoque en la entrega de valor, resolución de problemas y
  colaboración efectiva con equipos y clientes.
</p>
<div class="mt-12 flex flex-col gap-4 md:flex-row lg:flex-row">
  <SocialPill href="https://github.com/facupetitfour" rel="noopener noreferrer" target="_blank">
    <IconGithub class="h-4 w-4" />
    Github
  </SocialPill>
  <SocialPill
    href="https://www.linkedin.com/in/facundo-petitfour/"
    rel="noopener noreferrer"
    target="_blank"
  >
    <IconLinkedIn class="h-4 w-4" />
    LinkedIn
  </SocialPill>
  <SocialPill
    href="https://mail.google.com/mail/?view=cm&to=facundopetitfour@gmail.com&su=Consulta%20desde%20Portfolio&body=Hola%20Facundo,"
    title="Enviar mail a facundopetitfour@gmail.com"
    rel="noopener noreferrer"
    target="_blank"
  >
    <IconGmail class="size-4" />
    <p class="line-clamp-1">Mail</p>
  </SocialPill>
  <CvModal />
</div>
