---
import Experiences from '../components/Experiences.astro'
import IconWork from '../icons/IconWork.astro'
---

<h2 class="text-2xl font-semibold mb-5 flex items-center gap-4">
  <IconWork /> Experiencia laboral
</h2>
<Experiences />
