---
import Experiences from '../components/Experiences.astro'
import IconWork from '../icons/IconWork.astro'
---

<h2 class="mb-5 ml-[-4px] flex items-center gap-4 text-3xl font-semibold">
  <IconWork class="ml-[-3px]" /> Experiencia laboral
</h2>
<Experiences />
