---
import "../styles/global.css";
import background from "../assets/backgroundTest1.svg";
import backgroundLigth from "../assets/backgroundLigth.svg";
import backgroundDark from "../assets/backgroundDark.svg";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Facundo Petitfour - Desarrollador FullStack</title>
	</head>
	<body class="bg-gray-100 dark:bg-gray-900">
		<!-- <img
			id="backgroundTest1"
			src={background.src}
			alt="Background Image"
			loading="lazy"
			class="fixed top-0 left-0 w-full h-full object-cover -z-1"
		/> -->

		<!-- <img src={backgroundLigth.src} alt="backgroundLight" class="fixed top-0 left-0 w-full h-full object-cover -z-10 dark:hidden" />
		<img src={backgroundDark.src} alt="backgroundDark" class="fixed top-0 left-0 w-full h-full object-cover -z-10 hidden dark:block" /> -->

		<slot/>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
	}
</style>
